.container{
  margin: 0px auto;
  padding: 10px;
  background-color: #c0c0c0;
}
.h2{
align: center;
}

.loan{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.loan_info{

  width:48%;
}

.loan_details{

  width: 48%;
}

.table_container{
margin: .5rem auto;
width: 50%;

}
.table-header{

  clear:both;
  width: 600px;
  height: 50px;
}

.table_info{
  width: 600px;
  height: 200px;
  overflow: auto;

}

.table_info table{
  font-family: sans-serif;
  font-size: 13px;
  align: center;
}
