.container{
  margin: 0px auto;
  width: 98%;
  padding: 10px;
  background-color: #c0c0c0;
}

h2{
  text-align: center;
}

.loan{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.loan_info{

  width:48%;
}

.loan_details{

  width: 48%;
}

.table_container{
margin: 1rem auto;
width: 50%;
display: block;
}

.table_header{
  width: 600px;
  height: 50px;
}

.table_header table{
  max-height: 50px;
  width: 600px;

}
.table_info{
  display: block;
  width: 600px;
  height: 200px;
  overflow: auto;
}

.table_info table{
  border-top: none;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
}
