
/*** Global Styling **/
html{
  font-size: 16px;
}

body{
  color: blue;
	font-family: 'Raleway', sans-serif;
}

header{

}

/** Contact Form Styling**/
.contact-form{
  width: 45rem;
  margin: auto;
  padding: 1rem;
  background-color: #1d1d24;
  border-radius: 5px;
}

form{
  font-family: sans-serif;
  max-width: 100%;
  text-align: left;

}

.contact-form h1{
  color: white;
}

label{
  display: block;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #2999c2;
}


input,textarea{
  width: 95%;
  resize: none;
  padding: 0.5rem;
  border-radius: 5px;
}

input:hover, textarea:hover{

}

textarea{
  height: 6rem;
}
.contact-form button{
  background-color: blue;
  padding: .5rem;
  color: white;
  margin: .5rem 0;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s background-color ease;
  align-self: center;
}

.contact-form button:hover{
  background-color: #b5240b;
}


/** Typeface Styling **/
h1{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

h2{
  font-size: 1.3rem;
  font-weight: bold;
}

a{
  text-decoration: none;
}

b{
  font-weight: bold;
}

.product-text h2, .product-text h5{
	padding-bottom: 0.5rem;
}

.container{
  max-width: 100%;
  margin: auto;
}

.navbar{
  width: 100%;
  height: 4rem;
  background-color: #3399cc;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
	list-style: none;
  display: inline-block;
}

nav ul li a{
	color: white;
  padding-left: .5rem;
  text-decoration: none;
	transition: color 250ms ease-in 50ms;
}

nav ul li a:hover{
	color: black;
}

/* Nav dropdown menu */
nav ul ul{
  display: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}

nav ul li:hover > ul{
  display: block;
  position: absolute;
  background-color: #bfbfbf;
  min-width: 11rem;
}

nav ul ul li {
  display: block;
  padding: .5rem;
  border-top: 1px solid #f9f9f9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}

nav ul ul li:hover {
background-color: black; /* #bfbfbf  older color grey*/
}

nav ul ul li a{
  display: block;
  color: black;
  transition: none;
}

nav ul ul li a:hover{
  color: #3399cc;
}
nav .logo{
  padding-left: 1rem;
}

nav .call-us{
  color: orange;
  text-align: center;
  font-weight: bold;
}

nav .links{
  display: inline-flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.call-us h3{
  font-family: serif;
}

.banner {
  margin-top: 4rem;
  text-align: center;
  padding: 2rem 1rem;
}

.about{
  padding: .5rem 5rem;
}

.about p{
  text-align: center;
  line-height: 1.3;

}
.products{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 2rem 0;
}

.product-box{
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #e3e1e1;
  border: 4px solid white;
}

.product-box:hover{
  background-color: orangered;
  border-color: orangered;
  transition: border-color 250ms ease-in 50ms, background-color 250ms ease-in 50ms;
}

.product-img{
  width: 100%;
  height: auto;
}

.product-img img{
  max-width: 100%;
  padding-bottom: .5rem;
  display: block;
}

.product-text {
  margin-bottom: 0.5rem;
}

.product-box a{
	color:#3399cc;
}

.product-box a:hover{
	color: white;
}

.product-box a:visited{
	color: #3399cc;
}













footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	height: 2.5rem;
	background-color: black;
	color: white;
  font-family: serif;
}

.footer-left{
  display: flex;
  flex-direction: column;
}

.copyright{
  padding-bottom: 0.5rem;
}

.nmls{
  align-self: center;
}

.social-icons{
  justify-content: center;
  font-size: 1rem;
}

.social-icons a{
  margin: 1rem;
  color: white;
}

.social-icons a:hover{
  color: blue;
  transition: color 250ms ease-in 50ms;
}

.footer-links{
	display: inline;
}

.footer-links a{
	padding-left: 1rem;
	color: white;
}

.footer-links a:hover{
  color:blue;
  transition: color 250ms ease-in 50ms;
}
/****** Footer Mobile ******/
@media only screen and (max-width: 470px){
	.footer-links{
		display: none;
	}
